* * * * * curl --request POST "https://wc-subscriptions-g2xcn.ondigitalocean.app/api/shopify/orders?k=$SCHEDULE_KEY" >> ./`date +\%Y-\%m-\%d`_cron.log 2>&1

# An empty line is required at the end of this file for a valid cron file.
